<div class="box">
    <div class="content">
        <div id="reports-dow-orders" class="syrreporders-chart-container">
            <canvas id="syr-weekdays-chart"></canvas>
        </div>
        <div class="flexbox">
            <div class="sidebar width-26rem">
                <div id="reports-weekdays-controls" class="box">
                    <div class="custom-p-8">
                        <h3 class="semibold">{_wp("Best Weekdays")}</h3>
                        <div class="fields">
                            <div class="field-group custom-m-0">
                                <div class="field">
                                    <div class="name">{_wp('Max number of orders')}</div>
                                    <div class="value" id="syr-weekdays-top-count">—</div>
                                </div>
                                <div class="field">
                                    <div class="name">{_wp('Max total amount')}</div>
                                    <div class="value" id="syr-weekdays-top-sum">—</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-p-8">
                        <h3 class="semibold">{_wp('Filters')}</h3>
                        <form id="syrRepOrdersSettingsForm" class="fields">
                            <input type="hidden" name="report" value="weekdays">
                            <div class="field-group custom-m-0">
                                <div class="field">
                                    <div class="name">
                                        {_wp("Order statuses")}
                                        <p class="hint">{_wp('Count the statistics for the orders with the specified statuses only')}</p>
                                    </div>
                                    <div class="value">
                                        <ul>
                                        {foreach $all_order_states as $os=>$osopts}
                                        <li class="small">
                                            <label>
                                                <span class="wa-checkbox">
                                                    <input type="checkbox" name="weekdays_state[]" value="{$os}" checked>
                                                    <span>
                                                        <span class="icon">
                                                            <i class="fas fa-check"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span style="{foreach $osopts["options"]["style"] as $k=>$v}{$k}:{$v};{/foreach}">{$osopts.name}</span>
                                            </label>
                                        </li>
                                        {/foreach}
                                        </ul>
                                    </div>
                                </div>
                                <div class="submit field">
                                    <div class="value">
                                        <button type="button" class="button green" id="s-plugin-syrorders-refresh-btn">{_wp('Refresh')} <span class="icon js-syrorders-refresh-spinner" style="display: none"><i class="fas fa-spinner wa-animation-spin speed-1000"></i></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="content">
                <div id="reports-weekdays-table" class="box">
                    <table class="zebra">
                        <thead>
                            <tr>
                                <th>{_wp("Day of week")}</th>
                                <th>{_wp("Average sales")}</th>
                                <th>{_wp("Average ticket price")}</th>
                            </tr>
                        </thead>
                        <tbody id="syrRepWeekdaysTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.title = '{_wp("Weekdays")|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}';
new SyrrepordersWeekdaysChart({
    currency: {$currency|json_encode:256},
    weekdayNames: [
        {_wp("Monday")|json_encode:256},
        {_wp("Tuesday")|json_encode:256},
        {_wp("Wednesday")|json_encode:256},
        {_wp("Thursday")|json_encode:256},
        {_wp("Friday")|json_encode:256},
        {_wp("Saturday")|json_encode:256},
        {_wp("Sunday")|json_encode:256}
    ],
    labels: {
        title:  {_wp("Orders by Weekdays")|json_encode:256},
        totals: {_wp("Totals")|json_encode:256},
        count:  {_wp("Number of orders")|json_encode:256}
    }
});
</script>
