
<h1>{_wp("Additional Reports")}</h1>
<div class="fields form">
    <form action="?plugin=syrreporders&action=save" method="post" id="plugins-settings-form">
        {$wa->csrf()}
        <div class="field">
            <div class="name">
                {_wp("Reports")}
                <p class="hint">{_wp("Select the reports you need")}</p>
            </div>
            <div class="value">
                <label>
                    <input type="checkbox" name="shop_syrreporders[report_orders]" value="1"
                           {if $settings.report_orders}
                               checked="checked"
                            {/if}
                            >
                    {_wp("Orders")}
                </label>
            </div>
            <div class="value">
                <label>
                    <input type="checkbox" name="shop_syrreporders[report_weekdays]" value="1"
                           {if $settings.report_weekdays}
                               checked="checked"
                            {/if}
                           >
                    {_wp("Weekdays Statistic")}
                </label>
            </div>
        </div>
        <div class="field">
            <div class="value submit">
                <button type="submit" class="button green">{_wp("Save")}</button>
                <span id="plugins-settings-form-status" style="display: none">
                    <i style="vertical-align: middle" class="icon16 yes"></i> {_wp("Saved")}
                </span>
            </div>
        </div>
    </form>
</div>